/* Colors ... */

$white:                 #ffffff;
$black:                 #000000;

/* RESPONSE colors primary / secondary */
$blau:                  rgb(40,39,132);
$gelb:                  rgb(246,180,0);

/* Interface Gray */
$grauXD:                rgb(53,56,67);
$grauD:                 rgb(103,105,115);
$grauM:                 rgb(120,122,128);
$grauB:                 rgb(148,150,157);
$grauXB:                rgb(198,199,205);
